@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

nav {
  background-color: #02231c;
}

.logo {
  display: flex;
  padding: 0 0 0 50px;
  height: 80px;
}
.offcanvas-body {
  width: 100%;
  font-size: 20px;
  gap: 30px;
}

.search {
  display: flex;
  justify-content: center;
  margin-right: 200px;
  margin-left: 200px;
  width: 100%;
}

.form-control:hover {
  box-shadow: 0px 0 5px #00e1ff;
}

.nav-item:hover {
  color: #65edff;
  transform: scale(1.1);
  cursor: pointer;
  text-shadow: 0 0 2px #65edff;
}

.offcanvas-body #cart {
  text-decoration: none;
  display: flex;
  padding: 5px 0 0 0;
  font-size: 28px;
  margin-left: 50px;
  margin-right: 20px;
  text-shadow: 0 0 2px white;
}


.offcanvas-body #cart:hover {
  color: #00fd8f;
  transform: scale(1.2);
  cursor: pointer;
  text-shadow: 0 0 3px #00fd8f;
}

.offcanvas-body #lupa {
  display: flex;
  font-size: 30px;
}

.cart-count:hover {
  color: #00fd8f;
  transform: scale(1.2);
  cursor: pointer;
}

/* contador cart */
.cart-icon-container {
  padding-top: 2.5px;
  position: relative;
  display: flex;
}

.cart-icon {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-size: 24px;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: 8.5px;
  display: none;
  color: white;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  text-shadow: 0 0 2px white;
  font-family: "Poppins Bold" sans-serif;
}

.cart-count-animation {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}


@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}



/* cards produtos */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  gap: 16px;
}

/* Grid container para os cards */
.card-container {
  display: grid;
  justify-content: center;
  gap: 60px;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 30px 100px 30px;
}

/* Estilos dos cards */
.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 4px 4px 12px #aaaa;
  transition: transform 0.6s ease;
  width: 100%;
}

.card:hover {
  transform: scale(1.1);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 30%;
}

.card img {
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 12px;
}

.card span {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.card h1 {
  font-size: 2rem;
}

.card h2 {
  font-size: .9rem;
  color: #aaaa;
}

.quantity-and-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
  width: 100%;
}

.add-to-cart-btn {
  margin-right: 40px;
}

.quantity-input {
  width: 40px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 5px;
  text-align: center;
}

::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.card button {
  display: flex;
  justify-content: center;
  background-color: #043b2f;
  border: none;
  border-radius: 15px;
  padding: 8px 10px; /* Aumenta o espaço interno do botão */
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Adiciona transição suave na cor de fundo */
}

.card button:hover {
  background-color: #02231c; /* Cor de fundo ao passar o mouse */
  color: #00fd8f;
  box-shadow: 0 0 10px #00fd8f;
}

.footer {
  bottom: -100px;
  width: 100%;
  background-color: #02231c;
  color: white;
  text-align: center;
  padding: 20px 0 0 0;
  transition: bottom 0.5s;
  z-index: 1000;
  font-family: 'Calibri', sans-serif;
  letter-spacing: 1px;
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 15px;
}

.footer .col-md-4 {
  flex: 1;
  padding: 10px;
  margin: 0 10px;
  width: 600px;
}

#participantes {
  line-height: 1.2;
  text-align: center;
}

#footer-icons{
  text-align: center;
  justify-content: center;
  font-size: 40px;
  color: #f2f2ec;
}

#footer-icons i {
  margin-right: 15px;
}

#footer-icons i:last-child {
  margin-right: 0; /* Remove a margem direita do último ícone */
}

.footer h2{
  font-size: 20px;
  font-style: italic;
  text-align: center; 
  color: #00fd8f;
}

.footer h3{
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: #00fd8f;
}

.footer h4{
  font-size: 20px;
  font-style: italic;
  text-align: center; 
  color: #00fd8f;
}

.footer p{
  padding-top: 10px;
  font-size: 13px;
  text-align: center;
  color: #f2f2ec;
}

.footer p2{
  color: #f2f2ec;
  font-size: 13px;
}

.direitos-autorais{
  text-align: center;
  margin-top: 5px;
  color: #00fd8f;
  font-size: 11px;
}